@media only screen and (max-width: 600px) {
  .modal-body, #modalpic {
    text-align: center;
  }
  .modal-title {
    padding-left: 40px;
  }
}

.modal-header {
  background-color: #ff4081;
  height: 90px;
}

.modal-title {
  margin-left: 30px;
}

.closeBtn {
  color: #3f51b5;
}

.login-form-field {
  padding-top: 10px;
  width: 280px;
}

.loginButton {
  text-align: center;
}

#modalpic {
  padding-top: 9px;
}

