.modal-header {
  color: whitesmoke;
  background-color: #ff4081;
}

.closeBtn {
  color: white;
}

#content {
  width: 410px;
}

#mainContent{
  min-height: 95vh;
  position: relative;
  bottom: 0;
}

#modalpic {
  padding-top: 9px;
  padding-left: 9px;
}

#loginForm {
  text-align: center;
  padding-left: 40px;
  padding-top: 10px;
}

#pwLabel {
  margin-right: 7px;
}

#usernameLabel {
  margin-right: 5px;
}

#loginButton {
  padding-right: 10px;
}
