<mat-toolbar color='primary'>
  <a [routerLink]="['/home']">
    <span>
      <img src='../assets/images/MyPantryLogo.png' style='height: 50px; width: 190px;'>
    </span>
  </a>
  <span class='spacer'></span>
    <a *ngIf='! loggedIn()' color='accent'>
      <app-login></app-login>
    </a>
    <a class='signUpBtn' *ngIf='! loggedIn()' [routerLink]="['/register']">
      <button mat-raised-button color='accent'>
        Sign Up
      </button>
    </a>
    <a class='pantryBtn' *ngIf='loggedIn()' color='accent' [routerLink]="['/groceryList']">
      <button mat-raised-button color='accent'>
        Pantry
      </button>
    </a>
    <a *ngIf='loggedIn()' color='accent'>
      <app-logout></app-logout>
    </a>
</mat-toolbar>
