table {
  width: 100vw;
}

.updateGroceryForm {
  width: 100vw;
  height: 100vh;
  text-align: center;
  padding-top: 50px;
}

.update-full-width {
  width: 70vw;
}

.addBtn {
  text-align: center;
}

.goBackBtn {
  margin-right: 10px;
}
