<div>
  <table mat-table [dataSource]="groceryList" matSort class="mat-elevation-z8">

    <!-- Name Column -->
    <ng-container matColumnDef="productName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Product Name </th>
      <td mat-cell *matCellDef="let grocery"> {{grocery.productName}} </td>
    </ng-container>

    <!-- Category Column -->
    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef> Category </th>
      <td mat-cell *matCellDef="let grocery"> {{grocery.category.categoryName}} </td>
    </ng-container>

    <!-- Amount Column -->
    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef> Amount </th>
      <td mat-cell *matCellDef="let grocery"> {{grocery.amount}} </td>
    </ng-container>

    <!-- Date Purchased Column -->
    <ng-container matColumnDef="datePurchased">
      <th mat-header-cell *matHeaderCellDef> Date Purchased </th>
      <td mat-cell *matCellDef="let grocery"> {{grocery.datePurchased | date}} </td>
    </ng-container>

    <!-- Expiration Date Column -->
    <ng-container matColumnDef="expirationDate">
      <th mat-header-cell *matHeaderCellDef> Expiration </th>
      <td mat-cell *matCellDef="let grocery"> {{grocery.expirationDate | date}} </td>
    </ng-container>

    <!-- Date Opened Column -->
    <ng-container matColumnDef="dateOpened">
      <th mat-header-cell *matHeaderCellDef> Date Opened </th>
      <td mat-cell *matCellDef="let grocery"> {{grocery.dateOpened | date}} </td>
    </ng-container>

    <!-- Amount Used Column -->
    <ng-container matColumnDef="amountUsed">
      <th mat-header-cell *matHeaderCellDef> Amount Used </th>
      <td mat-cell *matCellDef="let grocery"> {{grocery.amountUsed}} </td>
    </ng-container>

    <!-- Delete Column -->
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef> Delete </th>
      <td mat-cell *matCellDef="let grocery">
        <button mat-mini-fab (click)='delete(grocery.id)'>x</button>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
<div>
  <button mat-raised-button color='primary' class="addBtn" [routerLink]="['/addGrocery']">Add Grocery</button>
</div>
